/* Gerais */

body {
    font-family: 'Lato', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0 !important;
}

p,
li {
    color: #444;
    font-size: 14px;
}

.container-fluid {
    padding: 0 !important;
}

/* Barra de navegação */

header,
.navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slideshow */

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 35%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}

.main-btn {
    background-color: #FFA500;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #FFA500;
}

.carousel-indicators .active {
    background-color: #FFA500;
}

/* Sobre o MVP Studio */

#about-area {
    background-color: #f9f9f9;
}

.main-title {
    color: #414141;
    font-size: 40px;
    margin: 0 0 65px 0;
    text-align: center;
}

.line-title {
    border-bottom: 2px solid #333;
    width: 10%;
    left: 45%;
    position: absolute;
    margin-top: -40px;
}

.about-title {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #FFA500;
    font-size: 15px;
}

/* Serviços */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
}

.service-box:hover>i,
.service-box:hover>h3 {
    color: #FFA500;
}

.service-box i,
.service-box h3 {
    transition: .5s;
}

/* Dados */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Time */

.card-body {
    text-align: center;
}

/* Contrataçao */

#apply-area .apply-box {
    padding: 70px;
    text-align: center;
}

#company-img {
    background-image: url('../img/empresa.jpg');
    background-size: cover;
}

.apply-box p {
    margin-bottom: 30px;
}